<!DOCTYPE>
<html>

<head>

	<title>IReadit</title>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet" href="/css/PageStyle.css">
	<link rel="icon" type="image/png" href="/images/favicon.png">

</head>

<body>

	<nav>
		<a href="/home" class="heading">IReadit</a>
		<ul type="none" class="navbar-ul">
			<li class="nav-item nav-head" id="Home"><a href="/home" class="nav-spacing">Home</a></li>
			<li class="nav-item" id="Toplinks"><a href="/toplinks">Top Links</a></li>
			<li class="nav-item" id="Trending"><a href="/home/trending">Trending</a></li>
			<li class="nav-item" id="Follower"><a href="/home/following">Following</a></li>
			<li class="nav-item nav-tail" id="Profile"><a href="/u/{{ username }}">Profile</a></li>
		</ul>
	</nav>
	<div class="page">
		
		<hr width="3" size="1080" class="verticalline">	
		<div class="content">
			
			<h2 class="subheading">Link info</h2>
			<div><a class="link" target="_blank" href='{{ linkdata.url }}'><h3> {{ linkdata.title }} </h3></a>
				<br>
				Author- {{ linkdata.username }}<br>
				Views- {{ linkdata.clicks }} 
					| <a class="link" href="/link/upvote/{{ linkdata.id }}/{{ username }}">Upvote</a>
					| <a class="link" href="/link/downvote/{{ linkdata.id }}/{{ username }}">Downvote</a>
				<h3 class="subheading">Tags:</h3> {{ linkdata.tags }}
			</div>
			
			<br/>
			<h2 class="subheading">Comments</h2>
		
			<form method="POST">
				Arrange by
					<select name="sortparameter">
						<option value="Chronology">Chronology</option>
						<option value="Upvotes">Upvotes</option>
					</select>
					<input type="Submit" name="Submit" value="Go">
			</form>
		
			{% for comment in comments %}
			
				<h3 class="subheading"><a href="/u/{{ comment.username }}">{{ comment.username }}</a></h3>
				<h4 style="font-weight: 100; margin-top:0px;"><i>Posted: {{ comment.posttime }}</i></h4>
				<i>{{ comment.content }}</i>
				<br>
				<button><a class="link" href = "/comment/upvote/{{ linkdata.id }}/{{ comment.username }}">Upvote</a></button>

			{% endfor %}
			
			<h2 class="subheading">Post a comment</h2>
			<form method="POST" class="commentform">
			
				<textarea cols="30" rows="5" name="content"></textarea>
			
			</form>
		</div>
	</div>
</body>
</html>