<form method="POST" action="/home">

	Title: <input type="text" name="title"><br/>
	URL: <input type="url" name="url"><br/>
	Tags: <input type="text" name="tags" placeholder="Separated by spaces"><br/>
	<input type="Submit" value="Submit">

</form>

<a href="/home/trending"><h1>TRENDING</h1></a>
<a href="/home/following"><h1>FOLLOWING</h1></a>
<a href="/u/{{ username }}"><h1>PROFILE</h1></a>

{% for link in links %}
<hr>
<div>
	<a href='link/{{ link.id }}'>
		<h3>
			{{ link.title }}
		</h3>
	</a>

	<u>
		<i>
			{{ link.sharetime }}
		</i>
	</u>

	Views- {{ link.clicks }}
	Author- {{ link.username }}<br>
	<h6>
		<a href=" {{ link.url }} ">Jump</a>
	</h6>

</div>
{% endfor %}

<hr>