<h1>User Profile</h1>
Name: {{ userdata.username }}<br/>
Karma: {{ userdata.karma }}<br/>
Followers: {{ userdata.followers }}<br/>
Following: {{ userdata.following }}<br/>
<a href="/u/{{ userdata.username }}/followers">Followers</a>|
<a href="/u/{{ userdata.username }}/following">Following</a>

